In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.5.3'

In [3]:
lapd = pd.read_csv('laptops.csv')
lapd.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [4]:
lapd.shape[0]

2160

In [5]:
lapd['Brand'].value_counts()

Asus                415
HP                  368
Lenovo              366
MSI                 308
Acer                137
Apple               116
Dell                 84
Microsoft            77
Gigabyte             48
Razer                37
Medion               32
LG                   32
Alurin               29
PcCom                24
Samsung              22
Dynabook Toshiba     19
Vant                 11
Primux                8
Deep Gaming           8
Innjoo                6
Thomson               4
Prixton               3
Millenium             2
Denver                1
Jetwing               1
Realme                1
Toshiba               1
Name: Brand, dtype: int64

In [6]:
lapd['Brand'].nunique()

27

In [7]:
lapd.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [8]:
dell = lapd[lapd['Brand'] == 'Dell']

In [9]:
dell["Final Price"].max()

3936.0

In [10]:
median_v_screen = lapd['Screen'].median()
median_v_screen

15.6

In [11]:
most_frequent_screen = lapd['Screen'].mode()
most_frequent_screen

0    15.6
Name: Screen, dtype: float64

In [12]:
lapd['Screen'].fillna(most_frequent_screen, inplace=True)

In [13]:
new_median_screen = lapd['Screen'].median()
new_median_screen

15.6

In [14]:
innjoo_laptops = lapd[lapd['Brand'] == 'Innjoo']

In [15]:
innjoo_laptops = innjoo_laptops[['RAM', 'Storage', 'Screen']]

In [16]:
X = innjoo_laptops.to_numpy()

In [17]:
XTX = X.T @ X

In [18]:
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100])
XTX_inv_XT = XTX_inv @ X.T
w = XTX_inv_XT @ y

sum_w = np.sum(w)
sum_w

91.29988062995815